@{
    ViewData["Title"] = "Пользователи";
}

<div class="container">
    <div class="h3">Пользователи</div>
    <p>На данной странице можно просмотреть пользователей, зарегистрированных в системе, а также активировать и деактивировать их аккаунты. Также возможно переключить возможность регистрации новых пользователей.</p>

    <form method="post" >
        <div class="row">
            <div class="h5">Регистрация разрешена</div>
            <input type="checkbox" name="isRegistrationAllowed" />
        </div>
    </form>
</div>