@{
    ViewData["Title"] = "О нас";
}
<div class="container">
    <p>Сервис по ремонту кофе машин «Remkof» представляет собой профессиональную организацию, которая позволяет оперативно и качественно предоставлять все необходимые услуги по диагностике неисправностей, ремонту кофемашин и консультации по их эксплуатации.</p>
    <p>Нашей организации более @(DateTime.Now.Year-2010) лет. На протяжение всего нашего пути, наши работники зарекомендовали себя как опытные профессиональные мастера. Так же параллельно с нашей деятельностью мы занимаемся благотворительностью. Наш главный девиз “Гарантия. Качество. Оперативность. У нас индивидуальный подход к каждой кофемашине!”.</p>
    <p>Сервисные мастера, осуществят квалифицированные консультацию и техническое обслуживание вашей кофемашины в течение всего срока службы. Вы можете получить консультации по телефону по всем вопросам, касающимся уходу и эксплуатации кофемашин. Мы работаем только с проверенными поставщиками оригинальных запчастей.</p>
    
    <img src="~/img/charity_pokrov.jpg" class="image-about-us"/>

</div>