@{
    ViewData["Title"] = "Главная";
}

<div class="jumbotron jumbotron-fluid jumbotron-image image-responsive">
    <div class="container justify-content-center text-white align-content-center">
        <h3>Гарантия. Качество. Оперативность.</h3>
        <p class="lead"> Индивидуальный подход к каждой кофемашине.</p>
        <a asp-area="" asp-controller="Home" asp-action="Prices"><div class="btn btn-primary align-self-center">Посмотреть цены</div></a>
    </div>
</div>
<div class="container">
    <p>Качественно и с гарантией ремонтируем кофемашины и кофеварки c 2010 года! Ремонт кофемашин и кофеварок – это главное направление нашей компании, что требует от наших мастеров высокой квалификации и постоянного совершенствования.</p>
    <p>Если Ваша кофемашина неисправна или готовит плохой кофе, то советуем связаться с нашими мастерами по телефону +7(905)512-42-22 или +7(916)495-94-97 для скорейшего решения Вашей проблемы.</p>
    <div>*Выезд с доставкой кофемашины проводится по городу Подольск!</div>
    <div class="h5 mt-2">Наши преимущества</div>
    <ul>
        <li>Узконаправленность нашей деятельности;</li>
        <li>Отсутствие скрытых доплат;</li>
        <li>Прозрачная калькуляция стоимости ремонта кофемашин;</li>
        <li>Мы работаем только с проверенными поставщиками оригинальных запчастей;</li>
        <li>При ремонте на замененные запчасти гарантия от двух месяцев.</li>
    </ul>
    
</div>