<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <div class="navbar-expand-sm text-sm-center d-sm-none d-md-block d-none d-sm-block">

    </div>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 flex-column">
        <div class="container">
            <div class="row flex-row justify-content-around">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="flex-column text-left">
                        <h2>REMKOF</h2>
                        <h6 class="text-black-50 text-sm-left">Профессиональный ремонт Вашей кофемашины</h6>
                    </div>
                </a>
                <div class="text-black-50 text-lg-right">1238476123</div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Открыть или закрыть меню сайта">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse text-left">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                </li>
                <!--Сюда надо будет вставить ссылки на страницы-->
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Prices">Цены</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contacts">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">О нас</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main role="main" class="pb-3">
    @RenderBody()
</main>

<footer class="border-top footer text-muted align-content-center">
    <div class="container">
        &copy; @DateTime.Now.Year - remkof.ru
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)

</body>
</html>